<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-PVW57E2BSB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-PVW57E2BSB', {
                'user_id': '12589'
            });
        </script>
        <title>Bonjour</title>
    </head>
    <body>
        <div>
            <h1><a href="http://example25377.pythonanywhere.com/gif/">Information</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Test.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p><a href="http://example25377.pythonanywhere.com/info/"> TEST 2 </a></p>
        </div>
    </body>
</html>
